In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime as dt
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.insert(3, 'profit', data.revenue - data.budget) #вставляем столбец 'profit' сразу после бюджета и дохода

data.release_date = pd.to_datetime(data.release_date) #конвертируем release_date из строки в дату

data['release_day'] = data.release_date.dt.day
data['release_month'] = data.release_date.dt.month

data['overview_length'] = data['overview'].map(lambda x: len(x.split(' ')))

data['title_length'] = data['original_title'].map(lambda x: len(x))


def split(x):
    """
    Функция для преобразования значений ячеек в списки методом split ('|').
    """
    return x.split('|')

    
data.sample(5)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_day,release_month,overview_length,title_length
1210,tt1538403,60000000,90565421,30565421,The Mortal Instruments: City of Bones,Lily Collins|Jamie Campbell Bower|Kevin Zegers...,Harald Zwart,You have been chosen,"In New York City, Clary Fray, a seemingly ordi...",130,Action|Adventure|Drama|Mystery|Romance,Constantin Film Produktion|Don Carmody Product...,2013-08-21,6.2,2013,21,8,76,37
505,tt0209163,98000000,433013274,335013274,The Mummy Returns,Brendan Fraser|Rachel Weisz|John Hannah|Arnold...,Stephen Sommers,The most powerful force on earth is about to b...,"Rick and Evelyn O'Connell, along with their 8 ...",130,Action|Adventure|Drama|Fantasy|Horror,Universal Pictures|Alphaville Films|Imhotep Pr...,2001-04-28,5.8,2001,28,4,53,17
1468,tt0410297,40000000,114830111,74830111,The Lake House,Keanu Reeves|Sandra Bullock|Shohreh Aghdashloo...,Alejandro Agresti,How do you hold on to someone you've never met?,A lonely doctor who once occupied an unusual l...,99,Romance|Drama|Mystery,Village Roadshow Pictures|Vertigo Entertainmen...,2006-06-16,6.3,2006,16,6,36,14
985,tt1637725,50000000,549368315,499368315,Ted,Mark Wahlberg|Mila Kunis|Seth MacFarlane|Joel ...,Seth MacFarlane,Ted is coming.,"John Bennett, a man whose childhood wish of br...",106,Comedy|Fantasy,Universal Pictures|Media Rights Capital|Fuzzy ...,2012-06-29,6.4,2012,29,6,30,3
1349,tt0312004,30000000,192452832,162452832,The Curse of the Were-Rabbit,Peter Sallis|Helena Bonham Carter|Ralph Fienne...,Steve Box|Nick Park,Something bunny is going on...,Cheese-loving eccentric Wallace and his cunnin...,85,Adventure|Animation|Comedy|Family,Aardman Animations|DreamWorks Animation,2005-09-04,6.6,2005,4,9,69,28

In [3]:
data.describe()

,budget,revenue,profit,runtime,vote_average,release_year,release_day,release_month,overview_length,title_length
count,1.889000e+03,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1889.000000,1889.000000,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,1.010545e+08,109.658549,6.140762,2007.860773,15.432504,6.933298,52.410270,15.037057
std,4.858721e+07,2.146698e+08,1.830733e+08,18.017041,0.764763,4.468841,8.446355,3.390196,26.631917,8.552660
min,5.000000e+06,2.033165e+06,-1.657101e+08,63.000000,3.300000,2000.000000,1.000000,1.000000,10.000000,1.000000
25%,2.000000e+07,3.456058e+07,5.000000e+06,97.000000,5.600000,2004.000000,8.000000,4.000000,32.000000,9.000000
50%,3.800000e+07,8.361541e+07,4.400041e+07,107.000000,6.100000,2008.000000,15.000000,7.000000,48.000000,13.000000
75%,7.200000e+07,1.782626e+08,1.201842e+08,120.000000,6.600000,2012.000000,22.000000,10.000000,67.000000,18.000000
max,3.800000e+08,2.781506e+09,2.544506e+09,214.000000,8.100000,2015.000000,31.000000,12.000000,175.000000,83.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_day,release_month,overview_length,title_length
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,11,5,75,43

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values('budget', ascending=False).head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_day,release_month,overview_length,title_length
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,11,5,75,43

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data.sort_values('runtime', ascending=False).head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_day,release_month,overview_length,title_length
1157,tt0279111,56000000,12923936,-43076064,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,21,2,48,17

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [11]:
data.sort_values('runtime').head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_day,release_month,overview_length,title_length
768,tt1449283,30000000,14460000,-15540000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,13,4,52,15

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = 110

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers ['5'] = 107

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar (tt0499549)'

In [17]:
data.sort_values('profit', ascending=False).head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_day,release_month,overview_length,title_length
239,tt0499549,237000000,2781505847,2544505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,10,12,28,6

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [19]:
data.sort_values('profit').head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_day,release_month,overview_length,title_length
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,3,7,68,15

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478'

In [21]:
len(data[data.profit > 1])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [23]:
data[data.release_year == 2008].sort_values('revenue', ascending = False).head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_day,release_month,overview_length,title_length
599,tt0468569,185000000,1001921825,816921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,16,7,67,15

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [25]:
data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values('profit').head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,release_day,release_month,overview_length,title_length
1245,tt1210819,255000000,89289910,-165710090,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,3,7,68,15

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'

In [27]:
print(pd.Series([x.split('|') for x in data['genres']]).explode().value_counts().head(1))

Drama    782
dtype: int64

ВАРИАНТ 2

In [31]:
data_genres = data[['genres', 'original_title']]
data_genres.genres = data_genres.genres.apply(split)
data_genres_exploded = data_genres.explode('genres')
data_genres_exploded.genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = 'Drama'

In [33]:
print(pd.Series([x.split('|') for x in data[data['profit'] > 0]['genres']]).explode().value_counts().head(1))

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [34]:
answers['13'] = 'Peter Jackson'

In [35]:
data.pivot_table(values = 'revenue', index = 'director', aggfunc = 'sum').sort_values('revenue', ascending = False).head(1)

                  revenue
director
Peter Jackson  6490593685

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = 'Robert Rodriguez'

In [37]:
print(pd.Series([x.split('|') for x in data[data.genres.str.contains("Action")]['director']]).explode().value_counts().head(1))

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = 'Chris Hemsworth'

In [39]:
data_2012 = data[data.release_year == 2012][['cast', 'revenue']]
data_2012.cast = data_2012.cast.apply(split)
data_2012_exploded = data_2012.explode('cast')
data_2012_exploded.groupby('cast').revenue.sum().sort_values(ascending = False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = 'Matt Damon'

In [41]:
data_high_budget = data[data.budget > data.budget.mean()][['cast','budget']]
data_high_budget.cast = data_high_budget.cast.apply(split)
data_high_budget_exploded = data_high_budget.explode('cast')
data_high_budget_exploded.cast.value_counts().head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = 'Action'

In [43]:
data_cage = data[data.cast.str.contains('Nicolas Cage')][['cast','genres']]
data_cage.cast = data_cage.cast.apply(split)
data_cage.genres = data_cage.genres.apply(split)
data_cage = data_cage.explode(('cast'))
data_cage_only = data_cage[data_cage.cast == 'Nicolas Cage']
data_cage_only_exploded = data_cage_only.explode('genres')
data_cage_only_exploded.genres.value_counts().head(1)

Action    17
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [45]:
data_paramount = data[data.production_companies.str.contains('Paramount Pictures')][['profit','production_companies','original_title']]
data_paramount.production_companies = data_paramount.production_companies.apply(split)
data_paramount_exploded = data_paramount.explode('production_companies')
data_paramount_exploded[data_paramount_exploded.production_companies == 'Paramount Pictures'].sort_values('profit').head(1)

       profit production_companies        original_title
925 -64831034   Paramount Pictures  K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = 2015

In [47]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending = False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = 2014

In [49]:
data_warner = data[data.production_companies.str.contains('Warner Bros')]
pd.DataFrame(data_warner.groupby(by = 'release_year').profit.sum()).sort_values('profit', ascending = False).head(1)

                  profit
release_year
2014          2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = 'Сентябрь'

In [51]:
data['release_month'].value_counts().head(1)

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = 450

In [53]:
data_by_months = data['release_month'].value_counts()
data_by_months[6] + data_by_months[7] + data_by_months[8]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = 'Peter Jackson'

In [55]:
data_winter = data.query('release_month in [1, 2, 12]')
data_winter['director'].value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = 'Four By Two Productions'

In [59]:
data_production_companies = data[['production_companies','title_length']]
data_production_companies.production_companies = data_production_companies['production_companies'].apply(split)
data_production_companies_exploded = data_production_companies.explode('production_companies')
data_production_companies_exploded.groupby('production_companies').mean().sort_values('title_length', ascending=False).head(1)

C:\Work\anaconda\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                         title_length
production_companies
Four By Two Productions          83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [60]:
answers['25'] = 'Midnight Picture Show'

In [66]:
data_companies = data[['production_companies','overview_length']]
data_companies['production_companies'] = data_companies['production_companies'].apply(split)
data_companies_exploded = data_companies.explode('production_companies')
data_companies_exploded.groupby('production_companies').mean().sort_values('overview_length', ascending=False).head(1)

C:\Work\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                       overview_length
production_companies
Midnight Picture Show            175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [67]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [68]:
data[data['vote_average'] > data['vote_average'].quantile(0.99)][['original_title', 'vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [69]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [70]:
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head()

Daniel Radcliffe Rupert Grint       8
Daniel Radcliffe Emma Watson        8
Rupert Grint Emma Watson            7
Ben Stiller Owen Wilson             6
Johnny Depp Helena Bonham Carter    6
Name: actor_combinations, dtype: int64

# Submission

In [71]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [72]:
# и убедиться что ни чего не пропустил)
len(answers)

27